@mixin before {
  &:before {
    display: block;
    content: '';
    @content;
  }
}

@mixin after {
  &:after {
    display: block;
    content: '';
    @content;
  }
}

@mixin before-and-after {
  &:after,
  &:before {
    display: block;
    content: '';
    @content;
  }
}