@mixin fz-before {
  &:before {
    display: block;
    content: '';
    @content;
  }
}

@mixin fz-after {
  &:after {
    display: block;
    content: '';
    @content;
  }
}

@mixin fz-beforeAndAfter {
  &:after,
  &:before {
    display: block;
    content: '';
    @content;
  }
}